@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
input,
label,
select,
button,
textarea {
  margin: 0;
  border: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
  /* Browsers have different default form fonts */
  font-size: 13px;
  font-family: Arial;
}

/* Remove the stupid outer glow in Webkit */
input:focus {
  outline: 0;
}

/* Box Sizing Reset
-----------------------------------------------*/
/* All of our custom controls should be what we expect them to be */
input,
textarea {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* These elements are usually rendered a certain way by the browser */
button,
input[type=reset],
input[type=button],
input[type=submit],
input[type=checkbox],
input[type=radio],
select {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Text Inputs
-----------------------------------------------*/
/* Button Controls
-----------------------------------------------*/
input[type=checkbox],
input[type=radio] {
  width: 13px;
  height: 13px;
}

/* File Uploads
-----------------------------------------------*/
/* Search Input
-----------------------------------------------*/
/* Make webkit render the search input like a normal text field */
input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
}

/* Turn off the recent search for webkit. It adds about 15px padding on the left */
::-webkit-search-decoration {
  display: none;
}

/* Buttons
-----------------------------------------------*/
button,
input[type=reset],
input[type=button],
input[type=submit] {
  /* Fix IE7 display bug */
  overflow: visible;
  width: auto;
}

/* IE8 and FF freak out if this rule is within another selector */
::-webkit-file-upload-button {
  padding: 0;
  border: 0;
  background: none;
}

/* Textarea
-----------------------------------------------*/
textarea {
  /* Move the label to the top */
  vertical-align: top;
  /* Turn off scroll bars in IE unless needed */
  overflow: auto;
}

/* Selects
-----------------------------------------------*/
select[multiple] {
  /* Move the label to the top */
  vertical-align: top;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: aliceblue;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

/* __________________ */
* {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

:root[data-theme=white] {
  --body-bg-color: white;
  --post-main-color: #b54f4f;
  --post-second-color: #4361ee;
  --post-bg-color: #03aa837b;
  --post-text-color: #3a0ca3;
  --text-second-color: #4361ee4d;
}

:root[data-theme=dark] {
  --body-bg-color: #606060;
  --post-main-color: #a8a8a8;
  --post-second-color: #90a4ff;
  --post-bg-color: #bffff07a;
  --post-text-color: #c6adff;
  --text-second-color: #d7ddf8;
}

body {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
  background-color: var(--body-bg-color);
}

.box {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px;
  border: 1px solid black;
  background-color: #a8a8a8;
  gap: 20px;
  margin: 20px;
}
.box .box-item {
  color: white;
  padding: 10px;
  border-radius: 1rem;
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.active {
  background-color: #4361ee;
  border-bottom: 50%;
}

.prev {
  background-color: #3a0ca3;
}

.next {
  background-color: black;
}

.accardion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 100px 0;
}
.accardion .accardion-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 80px;
  position: relative;
  overflow: hidden;
  max-width: 80px;
  height: 80px;
  padding: 5px;
  cursor: pointer;
}
.accardion .accardion-item h2, .accardion .accardion-item p, .accardion .accardion-item i {
  z-index: 10;
  color: white;
}
.accardion .accardion-item i {
  z-index: 20;
  padding: 10px;
  cursor: pointer;
}
.accardion .accardion-item p {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.accardion .accardion-item img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}
.accardion .more {
  gap: 20px;
  max-width: 400px;
  height: initial;
  padding: 20px;
  cursor: auto;
}
.accardion .more i {
  position: absolute;
  top: 5px;
  right: 0;
}/*# sourceMappingURL=style.css.map */